@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to Task Management!</h1>
    <p>Manage your tasks efficiently.</p>
    <a asp-controller="Home" asp-action="Start" method="get" class="btn btn-primary">Start Task Management</a>
</div>